body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-inverse {
    background-color: #4FA03F;
    background-image: linear-gradient(to bottom,#6EC35D 0,#4FA03F 100%);
    border-color: #3D8E2C;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(34, 34, 34, 0.3);
}

.navbar-inverse .navbar-nav>li>a {
    color: #333;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(132, 132, 132, 0.44);
}

.navbar-inverse .navbar-brand {
    color: #333;
}

.footer {
    background-color: #4fa03f;
}

.text-muted {
    color: #333;
}

.p {
  font-size:16px;
}
